body {
  margin: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: auto;
}

header {
  display: flex;
}
footer {
  background-color: rgb(14, 14, 63);
  height: 193px;
}
